h1{
    font-family: cursive, 'Caveat', 'Pacifico';
}


body {
    background: linear-gradient(135deg, #FFDFEF, #EABDE6);
    font-family: cursive, 'Franklin Gothic Medium', Arial, sans-serif;
}

/* Header */
.main-title {
    color: #a743ce;
    font-weight: bold;
}

.subtitle {
    color: #AA60C8;
    opacity: 0.8;
    margin-top: -5px;
    font-size: 22px;
    font-weight: 600;
    
}

/* Cards */
.custom-card {
    background-color: #EABDE6;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 6px 18px rgba(0,0,90,0.1);
}

/* Button */
.btn-custom {
    background-color: #AA60C8;
    color: white;
}

.btn-custom:hover {
    background-color: #8e4aa8;
}

/* Task completed */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Prayer completed */
.done {
    background-color: #D69ADE !important;
    color: white;
}

/* list spacing polish */
.list-group-item {
    border-radius: 8px !important;
    margin-bottom: 6px;
}